
@media only screen and (max-width:1440px) {
    .product-swiper  {
        margin-left:4%;
        overflow: hidden;
    }
 }
@media only screen and (max-width:1180px) { 
    .shop-by-cat .grid-cols-2 img {
        max-width: 200px;
        min-width: 200px;
    }
    .site-container {
        max-width: 1024px;
    }
}
@media only screen and (max-width:1040px) {
    .site-container {
        max-width: 920px;
    }
}
@media only screen and (max-width:960px) {
    .site-container {
        max-width: 840px;
    }
}
@media only screen and (max-width:879px) {
    .site-container {
        max-width: 768px;
    }
}
@media only screen and (max-width:780px) {
    .site-container {
        max-width: 690px;
    }
}
@media only screen and (max-width:767px) {
        table {
          border: 0;
        }
        table thead {
          border: none;
          clip: rect(0 0 0 0);
          height: 1px;
          margin: -1px;
          overflow: hidden;
          padding: 0;
          position: absolute;
          width: 1px;
        }
        
        table tr {
          border-bottom: 3px solid #ddd;
          display: block;
          padding: 20px 0px;
        }
        
        table td {
          display: block;
          font-size: 14px;
          text-align: right;
        }
        
        table td::before {
          content: attr(data-label);
          float: left;
          font-weight: 400;
          color: #6C7275;
        }
        
        table td:last-child {
          border-bottom: 0;
        }
      
    .news-letter { 
        background-image: unset;
        background-color: #F2F4F6;
    }
    .site-container {
        max-width: 100%;
        padding: 0px 25px;
    }
    .heading1 {
        font-size: 40px;
    }
    .btn-secondary {
        min-width: 90%;
    }
    .heading2 {
        font-size: 34px;
    }
    .best-seller .product-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .productSwiper .swiper-button-prev {
        right: 88px;
        left: auto;
    }
    .productSwiper .swiper-button-next {
        right: 25px;
    }
    .shop-by-cat .grid-cols-2 img {
        max-width: 147px;
        min-width: 147px;
    }
}