
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-color: #377dff;
    --secondary-color: #38cb89;
    --text-color: #141718;
    --white-color: #fff;
  }
body {
  margin: 0;
  padding: 0;
  color: var( --text-color);
  font-family: "Inter", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
}

.site-container {
    max-width: 1120px;
    margin: auto;
}
.site-inner-container {
    max-width: 1120px;
    margin: auto;
}
a {
    text-decoration: none;
    color: var( --text-color);
    transition: .3s all;
}
a:hover {
    color: var(--primary-color) ;
    transition: .3s all;
}
.indicator-bar {
    background: var(--primary-color);
}
header .product-count {
    background-color:var(--text-color) ;
    height: 21px;
    width: 21px;
    min-width: 21px;
    font-size: 12px;
    line-height: 1.6;
}

.heading1 {
    font-size: 72px;
    line-height: 1;
}
.heading2 {
    font-size: 40px;
}
.btn-primary {
    min-width: 234px;
    height: 56px;
    transition: .4s all;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 8px;
    border: none;
    box-shadow: none;
    width: fit-content;
}
.btn-primary:hover {
    transition: .4s all;
    transform: scale(1.05);
    filter: brightness(1.1);
}
.btn-secondary {
    min-width: 234px;
    height: 46px;
    transition: .4s all;
    background-color: var(--text-color);
    color: var(--white-color);
    border-radius: 8px;
    border: none;
    box-shadow: none;
    width: fit-content;
}
.btn-secondary:hover {
    background-color: var(--white-color);
    color: var(--text-color);
}
/* -----------------home css-------------------- */
.banner-section .text-wrapper {
    background-color: #171D28;
}
.productSwiper .badge {
    top: 15px;
    left: 15px;
}
.product-swiper  {
    margin-left: 12.4%;
    overflow: hidden;
}
.productSwiper .whislist-btn{
    top: 15px;
    right: 15px;
    height: 32px;
    width: 32px;
    background-color: var(--white-color);
    transition: .4s all;
}

.productSwiper .whislist-btn:hover {
    background-color: var(--text-color);
    transition: .4s all;
}
.productSwiper .whislist-btn:hover img {
    filter: brightness(13);
    transition: .4s all;
}
.productSwiper .btn-secondary  {
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}
.productSwiper .swiper-pagination {
    top: -50px;
    right: 142px;
    left: auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}
.productSwiper .swiper-pagination-bullet {
    content: '';
    background-image: url(/assets/svgs/slider-dot.svg);
    height: 18px;
    width: 18px;
    background-color: transparent;
    opacity: 1;
}
.productSwiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
    content: '';

    background-image: url(/assets/svgs/slider-dot-active.svg);
    height: 18px;
    width: 18px;
    background-color: transparent;
}

.product-swiper .btn-secondary {
    bottom: 110px;
}
.filter-primary:hover img , .group-filter-primary:hover a img{
    transition: .5s all;
    filter: brightness(0) saturate(100%) invert(36%) sepia(98%) saturate(1697%) hue-rotate(207deg) brightness(102%) contrast(103%);
}
.indicator-bar a:hover img {
    filter: brightness(0) saturate(100%) invert(5%) sepia(19%) saturate(445%) hue-rotate(149deg) brightness(99%) contrast(91%);
}
.filter-secondary:hover img {
    transition: .5s all;
    filter: brightness(0) saturate(100%) invert(36%) sepia(98%) saturate(1697%) hue-rotate(207deg) brightness(102%) contrast(103%);
}
.shop-banner {
    background-image: url(/assets/images/shop-banner.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 392px;
    background-repeat: no-repeat;
}
.blog-banner {
    background-image: url(/assets/images/blog-bg.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 392px;
    background-repeat: no-repeat;
}
.news-letter {
    background-image: url(/assets/images/news-letterimg.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    min-height: 392px;
    background-repeat: no-repeat;
}
.dark-footer .social-icon img {
    filter: brightness(0) saturate(100%) invert(98%) sepia(6%) saturate(325%) hue-rotate(276deg) brightness(115%) contrast(100%);
}
.nav-tabs .nav-link.active, .account-pills.active  {
    border: none;
    border-bottom: 2px solid #000;
    color: #000 !important;
}
.nav-tabs  .nav-link, .account-pills {
    border-bottom: 2px solid transparent;
    color: #6C7275;
}
.tab-pane {
    display: none;
}
.fade:not(.show) {
    display: none;
}
.tab-pane.fade.show.active {
    display: block;
}
#pills-wishlist table td {
    width: 41.33%;
}
.swiper-button-lock {
    display: block;
}
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 12px;
}
.productSwiper .swiper-button-next, .productSwiper .swiper-button-prev {
    top: -36px;
    color: #fff;
    background: #000;
    height: 30px;
    width: 30px;
    border-radius: 100px;
    display: flex;
}
.productSwiper.swiper {
    overflow: visible !important;
}
.productSwiper .swiper-button-next {
    right: 143px;
}
.productSwiper .swiper-button-prev {
    right: 200px;
    left: auto;
}


#toggleDiv {
    height: fit-content;
    min-height: 200px;
    width: 100%;
    background-color: #fff;
    position: absolute;
    top: 0; /* Ensure it's positioned relative to the parent container */
    left:0;
    transform: translateY(-200%); /* Hidden above the viewport */
    transition: transform 0.5s ease-in-out;
    z-index: 0;
}

#toggleDiv.visible {
    transform: translateY(36%); /* Slide down into view */
}
#menu-div .menu-close, #menu-div.active .menu-toggle {
    display: none;
}
#menu-div .menu-toggle, #menu-div.active .menu-close {
    display: block;
}
.brands-swiper-button-next {
    right: 35%;
}
.brands-swiper-button-prev {
    left: 35%;
}
.swiper-button-next.swiper-button-disabled img, .swiper-button-prev.swiper-button-disabled img {
    opacity: 0.5;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled  {
    opacity: 1;
}
table td {
    padding: 20px 0px;
  }